@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kumbh+Sans:wght@400;500;700;800&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html{
    font-size: 15px;
    scroll-behavior: smooth;
    scroll-padding:95px;

}
body{
    background:rgb(141, 197, 110);
}
/*--------------------menu-------------*/

header{
    position: fixed;
    background:rgb(152, 221, 112);
    width: 100%;
    padding: 1.5em 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0 3px 5px 0 rgba(0, 0, 0, 0.322),
    0 5px 10px 0 rgba(241, 240, 240, 0.226);
    z-index: 100;


}
header a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
header #logo{
    text-transform: uppercase;
    display: flex;
    gap:15px;
    align-items: center;
    font-size: 1.7em;
}
header span{
    color:rgb(145, 8, 8) ;
}
header .logo_img{
    width: 50px;
    
}
header input{
    display: none;
}
header label{
 cursor: pointer;
 font-size: 2em;
 visibility: hidden;
 opacity: 0;
}
header .nav_barv{
   text-align: center;
z-index: 6;
text-transform: capitalize;
 
}
header .nav_barv a{
    margin-left:15px ;
}
header .nav_barv a:hover{
    color: white;
}
/*-------------Hero------------------*/

#hero{
background:rgba(148, 236, 96, 0.61);
    width: 100%;
    height:100vh;
    padding-top: 125px ;
}
#hero img{
 
    width: 100%;
    height: 100%;

}
.title{
    padding: 0 10%;
    position: absolute;
    top: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title_uno{
padding: 30px;
 display: block;
 gap: 20px;   
}
.title_uno h1{
    padding: 40px 0;
    font-weight:bold;
    text-transform: uppercase;
}
/*-------------Productos------------------*/

#productos{
background:
rgb(155, 228, 46);
width: 100%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:25px;
padding: 40px;

}
#productos img{
    width: 100%;

}
#productos .Crad{
margin: auto;
width: 450px;
height: 630px;
padding: 20px;
box-shadow: 40px 15px 20px 0 rgba(0, 0, 0, 0.219);
border-radius: 15px;
background:  greenyellow;

}
hr{
    width: 80%;
    margin: 15px auto;
    border: none;
    background: rgba(0, 0, 0, 0.726);
    height: 2px;
}
/*-----------informacion--Productos------------------*/

#info-productos{
    background: rgb(130, 201, 23);
    padding: 25px 0 ;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#info-productos .inf_card{
    border-radius: 20px;
    padding: 15px;
    background: rgb(169, 236, 67);
    position: relative;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   text-align: center;
   box-shadow: 0 -6px 5px 3px rgba(0, 0, 0, 0.418);
    
}
.inf_card  .btn{
    background: linear-gradient(45deg,rgb(68, 245, 24), rgb(196, 223, 156) );
    bottom: 30px;
    left: 30% ;
    margin: 0 auto;
    width: 60%;
    border: none;
    border-radius: 15px 10px;
    padding: 6px 25px;
    font-size: 18px;
    font-weight: bold;
    transition: all 1s;
}
.inf_card  .btn:hover{
    cursor: pointer;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: 15px;
}
/*-------------galeria------------------*/

#galeria{
    background:rgba(111, 175, 74, 0.61);
    padding: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px,300px));
    grid-gap:10px;
    position: relative;
}
#galeria .gale_img{
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#galeria .gale_img:hover{
   outline: 4px solid rgb(0, 0, 0);
 
}
.zoom{

    position: absolute;
    font-size: 3em;
    top:70px;
    left: 45%;
}
/*-------------contactos------------------*/


.contactos_card{
    width: 100%;
    height: 100vh;
display: flex;
}
.card_correo{
    border-radius:10px ;
    margin: auto;
    padding: 25px 10%;
    background:rgb(148, 224, 107);
    width: 80%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;

}
@media (min-width:1030px) {
    .card_correo{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}
.card_correo img{
    width: 40%; 

}
#contantos{

    background:rgb(152, 221, 112);
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.6);
    border-radius:25px;
    padding: 25px 10px;  
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#contantos label{
    font-size: 13px;
    text-transform:capitalize;
    letter-spacing: 4px;
}
#contantos input{
    background: linear-gradient(45deg, rgb(127, 248, 118) , rgba(180, 227, 178, 0.724));
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 0  auto;
    padding: 0 15px;
}
#contantos input::placeholder{
    text-align: center;
    opacity: 40%;
    

}

#contantos button{
    width: 30%;
    border-radius: 10px;
    padding: 5px; 
    border: none;
    box-shadow:  0 0 30px 1px rgba(0, 0, 0,0.5);
    margin: 0  auto;
    
}

#contantos textarea{
   /* box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.219);*/
    background: linear-gradient(45deg, rgb(127, 248, 118) , rgba(180, 227, 178, 0.724));
    border: none;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: 150px;
    resize: none;   
    padding: 10px 10px;

}
.butoonn{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userr{

}

.passw{

}
.comen_dos {
}
@media (max-width:1120px){
    #info-productos{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 25px;
    }
    .card_correo{
        width: 100%; 
           display: flex;
           flex-direction: column;
           gap: 25px;
       }

}
@media (max-width:650px){
    #productos article{
      
        z-index: 240;
        margin: 0 auto;
        max-width: 80vw;
        text-align: center;
    }
}
@media (max-width:850px){
    header {
        width: 100vw;
    }
    #hero{
        width: 100vw;
        z-index: 100;
    }
  

.title{
    flex-direction: column;
    flex-wrap: wrap;
   top:18vh;

}
.title img{
    z-index: 10;
}
.title_uno{
    text-align: center;
    display: grid;
    place-content: center;
}
/*---productos*/
#productos{
    width: 100vw;
    position: relative;
    display: flex;
    gap:20px;
    flex-direction:column;
    z-index: 200;
    padding: 25px 0;
}
#productos article{
    z-index: 240;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
/*------------------informarcio-------------*/
#info-productos{
   padding: 50px 30px;
   height: auto;
    width: 100vw;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
#info-productos .inf_card{
     padding: 30px;
}

.card_correo{
    width: 100%; 
       display: flex;
       flex-direction: column;
       gap: 25px;
   }
}
/* menu jajaja----*/
@media (max-width:1010px) {
    
    header label{
        visibility: visible;
        opacity: 1;
        
    }
   header{
    z-index: 1000000;
   }
    header .nav_barv{
        border-radius: 0 0 15px 15px ;
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        height: content;
        box-shadow:  0 8px 15px 0 rgb(0 0 0 / 60%),
        0 10px 10px 0 rgba(241, 240, 240, 0.726);
        opacity: 0;
        transition: opacity 1s; 
    }
    header nav{
        background: rgba(255, 255, 255, 0.705);
        z-index: -1;
        transition:animation 1s;
        animation:arriba 1s ;
       animation-fill-mode: forwards;
    }
    @keyframes arriba {
        0%{
            transform: translateX(0);            
        }
        100%{
            
            transform: translateX(-650px);
        }
    }
    header .nav_barv a{
        border-bottom:2px solid rgba(212, 212, 212, 0.301);
       margin: 0;
       padding: 10px;
        display: block;
    }
    header .nav_barv a:last-child{
        border: none;
    }
    header .nav_barv a:hover{
        color: black;
        background: rgb(218, 214, 214);
        outline: 2px solid rgb(170, 168, 168);
    }
    
    
    
    header input:checked ~ nav{
        transition: opacity 300ms ;
        opacity: 1;
       animation: menu_abajo 1s;
       transform-origin: bottom;
    }
    @keyframes menu_abajo {
        0%{
            transform: translateY(-250px);            
        }
        100%{
            
            transform: translateY(0);
        }
    }
    header input:checked ~ label::before{
        content: "\f00d";
        
    }
    .card_correo{
     width: 100%; 
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    #contantos{

        background:rgb(152, 221, 112);
        box-shadow:  0 0 8px rgba(0, 0, 0, 0.6);
        border-radius:25px;
        padding: 25px 10px;  
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}